* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    grid-template-areas: "header  header             header" "sidebar category-bar       category-bar" "sidebar animation-caroucel animation-caroucel" "sidebar video-panel        video-panel" "footer  footer             footer";
}