.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(58, 57, 57);
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bolder;
}