.header .left-side {
    justify-content: center;
    padding-left: 28px;
}

.header .header-logo {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    position: fixed;
    z-index: 1;
}

.header .center-side {
    justify-content: center;
    padding-top: 0%;
    width: 350px;
}

.header .search-container {
    display: inline-block;
    font-size: 50%;
    width: 280px;
}

.center-side input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    width: 85%;
    border: 0.5px solid #ddd;
}

.center-side .search-container button {
    padding: 6px;
    background: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.header .center-side .search-container button:hover {
    cursor: pointer;
    background: #b3b3b3;
    border-radius: 25px;
    margin-bottom: 0%;
}

.header .center-side .search-container input:hover {
    cursor: pointer;
    border: 1px solid rgb(93, 107, 230);
    border-radius: 5px;
    margin-bottom: 0%;
    min-width: 232px;
    max-width: 250px;
    width: 100%;
}

@media (max-width: 1000px) {
    .search-container {
        min-width: 25px;
    }
}

.header .center-side .microphone {
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.header .right-side {
    display: flex;
    padding-right: 28px;
}

.header .right-side .bell-wrapper {
    cursor: pointer;
    margin-right: 20%;
    width: 60px;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .right-side .user-wrapper {
    cursor: pointer;
    background-color: rgb(157, 164, 228);
    border-radius: 25px;
    width: 45px;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .right-side .user-wrapper .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 5px;
    min-width: 50px;
    min-height: 50px;
    box-shadow: 0px 8px 25px 10px rgb(0 0 0 / 20%);
    z-index: 1;
    right: 0px;
    left: auto;
}

.header .right-side .user-wrapper .dropdown-content>* {
    color: rgb(100, 100, 100);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .right-side .user-wrapper .dropdown-content a {
    color: rgb(2, 0, 0);
    text-decoration: none;
}

.header .right-side .user-wrapper .dropdown-content a:hover {
    color: rgb(93, 107, 230);
    background-color: #b3b3b3;
    text-decoration: none;
}

.header .right-side .user-wrapper .dropdown-content .profile:hover {
    color: rgb(62, 63, 62);
    background-color: #b3b3b3;
    text-decoration: none;
}

.header .right-side .user-wrapper .dropdown-content .setting:hover {
    color: rgb(62, 63, 62);
    background-color: #b3b3b3;
    text-decoration: none;
}

.header .right-side .user-wrapper .dropdown-content .log-out:hover {
    color: rgb(62, 63, 62);
    background-color: #b3b3b3;
    text-decoration: none;
}

.header .right-side .user-wrapper:hover .dropdown-content {
    display: block;
    float: right;
    width: 125px;
}