.main {
    height: 150vh;
    width: 1000px;
    display: inline-flex;
    align-content: end;
    flex-wrap: wrap;
    margin: 77px auto 0px 270px;
    padding: 0;
    text-align: center;
}

.main .category-bar {
    display: flex;
    grid-area: category-bar;
}

.main .category-bar a {
    background-color: rgb(216, 215, 214);
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    font-weight: bolder;
}

.category-bar a:first-child {
    color: white;
    background-color: rgb(93, 107, 230);
}

.animation-caroucel {
    grid-area: animation-caroucel;
}

.video-item {
    padding: 15px;
}

.video-panel {
    grid-area: video;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    width: 300vh;
}

.video-preview {
    cursor: pointer;
    position: relative;
    opacity: 2;
}

.video-panel .video-preview .paw {
    position: absolute;
    top: 48px;
    left: 110px;
    border-radius: 2px;
    padding: 3px;
    font-size: 30px;
    display: none;
}

.video-preview:hover {
    opacity: 0.5;
    display: block;
}

.video-preview:hover .paw {
    display: block;
    color: #000;
}

.live-video {
    background-color: rgb(255, 86, 56);
    position: absolute;
    left: 5px;
    top: 0px;
    text-align: left;
    border-radius: 2px;
    padding: 3px;
    font-size: 10px;
    font-weight: bolder;
    margin-top: 5px;
}

.viewers {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    position: absolute;
    right: 3px;
    bottom: 0px;
    border-radius: 2px;
    padding: 3px;
    font-size: 10px;
    margin-bottom: 9px;
    opacity: 0.7;
}

.avatar-cat {
    border-radius: 25px;
    width: 32px;
    height: 30px;
}

.details-video {
    cursor: pointer;
    position: relative;
    cursor: pointer;
    margin: 0 1px;
    flex: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.details-video:hover {
    color: rgb(35, 46, 143);
    background-color: rgb(223, 223, 223);
}

.details-text {
    font-size: 12px;
    display: flex;
    align-items: self-start;
    flex-direction: column;
    overflow-x: overlay;
    padding-right: 24px;
    width: 160px;
}

.details-text .video-name {
    font-weight: bolder;
    text-overflow: ellipsis;
}

.details-text .autor {
    font-size: 10px;
    color: rgb(90, 90, 90);
}

.details-video .fa-ellipsis-v {
    margin-right: 8px;
}