.sidebar {
    position: fixed;
    margin-top: 60px;
    width: 25%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    max-width: 250px;
    z-index: 130;
    overflow-y: auto;
    height: calc(100vh - 70px);
    background-color: #f5f4f3;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    grid-area: sidebar;
}

.sidebar .strimers {
    min-width: 232px;
    max-width: 300px;
    display: inline-block;
    align-items: center;
    padding: 5%;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
}

.sidebar .strimers .strimer-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(62, 63, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
}

.sidebar .strimers .strimer-item i {
    padding-right: 5%;
}

.sidebar .strimers .strimer-item img {
    border-radius: 25px;
    width: 32px;
    height: 30px;
}

.sidebar .strimers .strimer-item:hover {
    color: rgb(66, 66, 66);
    background-color: #b3b3b3;
    text-decoration: none;
}

.sidebar .strimers .strimer-item a {
    text-decoration: none;
    color: rgb(62, 63, 62);
    margin-right: auto;
    padding-left: 5%;
}

.sidebar .strimers a:hover {
    color: rgb(93, 107, 230);
}

.sidebar .fa-circle {
    font-size: 10px;
    color: rgb(93, 107, 230);
}

.sidebar .strimers .strimer-item .numbers {
    padding-left: 10px;
}

.animate-pulse {
    height: 5px;
    line-height: 5px;
    background: #E41931;
    border-radius: 5px;
    font-weight: bold;
    font-size: 5px;
    padding: 3px;
    text-align: center;
    color: #FFFFFF;
    animation: animate_pulse 1.5s infinite;
}

.animate-pulse:hover {
    animation: none;
}

@keyframes animate_pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
}

.sidebar .infobar-wrapper {
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
    align-items: center;
    padding: 8%;
}

.sidebar .infobar-wrapper .infobar {
    background-color: #e0e0e0;
    padding: 35px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
    color: #3e3f3e;
}

.sidebar .infobar-wrapper .infobar span:hover {
    color: rgb(66, 66, 66);
    color: white;
    background-color: rgb(93, 107, 230);
    text-decoration: none;
}

.sidebar .infobar-wrapper .infobar .social-icon {
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.sidebar .infobar-wrapper .infobar .fa-telegram:hover {
    color: rgb(93, 107, 230);
    text-decoration: none;
}

.sidebar .infobar-wrapper .infobar .fa-instagram:hover {
    color: rgb(93, 107, 230);
    text-decoration: none;
}

.sidebar .infobar-wrapper .infobar .fa-facebook-official:hover {
    color: rgb(93, 107, 230);
    text-decoration: none;
}

@media (max-width: 1000px) {
    .sidebar {
        min-width: 25px;
    }
}

@media (max-width: 1000px) {
    .strimers {
        min-width: 25px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar .strimers .strimer-item a {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .sidebar .strimers .strimer-item span {
        display: none !important;
    }
}